.container{
    padding: 0 4%;
}
.container>h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: calc(100% / 3 - 2%);
    height: 150px;
    background: #002147;
    margin: 1% 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.overline{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(0, 33, 71, 0.53);

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.item:hover img{
    transform: scale(1.2);
}